
.user_msg
    background-color: #f0f0f0
    padding: 10px
    margin: 10px
    border-radius: 5px
    border: 1px solid #ccc
    color: #333
    text-align: center
    max-width: 80%
    margin-left: auto
    margin-right: auto
    margin-top: 10px
    margin-bottom: 10px
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2)
    transition: all 0.3s ease
    float: right
    clear: both
    &:hover
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)

.assistant_msg
    background-color: #7cedc0
    padding: 10px
    margin: 10px
    border-radius: 5px
    border: 1px solid #6ed69f
    // font-family: 
    color: #333
    text-align: center
    max-width: 80%
    margin-left: auto
    margin-right: auto
    margin-top: 10px
    margin-bottom: 10px
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2)
    transition: all 0.3s ease
    float: left
    clear: both
    &:hover
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
